html {
    text-align: center;
    background-color: hsl(180, 100%, 96%);
}
  
h1 {
    font-family: "Raleway", sans-serif;
    margin: 50px 0px;
}

h2 {
    font-family: "Raleway", sans-serif;
    margin: 80px 0px;
}

.projects {
    display: flex;
}

.project {
	width: 50%;
    border: 10px ridge hsl(0, 100%, 60%);
    box-shadow: 0px 0px 25px hsl(0, 100%, 60%);
    background-color: hsl(60, 100%, 95%);
    margin: 0px 100px;
}

.project-title {
    display: flex;
	justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-gif {
    display: flex;
	justify-content: center;
    margin-bottom: 15px;
}

.project-description {
    display: flex;
	justify-content: center;
    margin-bottom: 15px;
}

.contents {
    display: flex;
    margin-top: 100px;
}

.ID-photo {
    text-align: right;
    width: 50%;
    margin: 0px 15px;
}

.info {
    text-align: left;
    width: 50%;
    margin: 0px 15px;
}